<!DOCTYPE html>
<html>
<body>

<!--stylin-->
<!--
<style type="text/css">
body {background-color:yellow}
p {color:blue}
-->

<head>
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<h1>My First Heading</h1>

<p>My first paragraph. With a horizontal line!</p>
<hr>
<a href="http://www.reddit.com">This is a link! (to reddit)</a>
<hr>
<!-- <p>Now for an image:</p> -->
<!-- <img src="http://i.imgur.com/Wis1FhR.jpg"> -->
<!-- Comment bullshit -->


<!--Text Formatting -->
<p>Trying some text formatting:</p>
<p><b>BOLD TEXT</b></p>
<p><strong>STRONG text</strong></p>
<p><i>italicized</i></p>
<p><em>emphasized</em></p>
<p><code>com-pu-ter-code</code></p>
<p><kbd>What the hell is keyboard text?</kbd></p>
<p><var>x</var> and <var>y</var> are variables.
<p><del>Ignore this line.</del></p>
<p><ins>INSERTION</ins></p>
<p>Now we have <sub>subscript</sub> and <sup>superscript</sup></p>

<bdo dir="rtl">
	How about some backwards text?
</bdo>

<blockquote>
	"Keep sayin h"<br>- The Canno
</blockquote>

<!--trying some css-->
<p style="color:blue;margin-left:20px;">This is a paragraph.</p>

<body style="background-color:yellow;">
<h2 style="background-color:red;">This is a heading</h2>
<p style="background-color:green;">This is a paragraph.</p>
</body>

<body>
<h3 style="font-family:verdana;">A heading</h3>
<p style="font-family:arial;color:red;font-size:20px;">A paragraph.</p>
</body>

<body>
<h3 style="text-align:center;">Center-aligned heading</h3>
<p>This is a paragraph.</p>
</body>

</body>
</html>




<!-- ***************************************************************************** -->

